<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Wallet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="create-wallet">
          <h2>Create Wallet</h2>
          <h3>Solana Coin</h3>
          <form action="{{ url_for('wallet.create_wallet') }}" method="post">
            <label for="mnemonic">Enter Mnemonic (Save your Recovery Passphrase)</label><br />
            <textarea id="mnemonic" name="mnemonic" rows="4" cols="60" required></textarea><br /><br />
            <button type="submit">Create Wallet</button>
            {% if error %}
            <div class="error-message">
              <p>{{ error }}</p>
            </div>
            {% endif %}
          </form>
          <div class="wallet-btn">
            <form action="{{ url_for('wallet.login_wallet') }}" method="get">
              <button type="submit">Already have a wallet?</button>
            </form>
            <button>
              <a href="https://iancoleman.io/bip39/" style="text-decoration: none; color: white; margin-top: 1rem">Get your Mnemonics</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
